.jumbotron {
  background-color: yellow;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  background-color: yellow;
  padding: 15px 15px 15px 15px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
}

.hoteles {
  margin-top: 25px;
}

.rowespeciales {
  margin-top: 20px !important;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon,
.reservar-icon {
  padding-right: 8px;
}

.tab-content {
  padding-top: 10px;
}

.tarjetas-header {
  background-color: darkblue;
  color: white;
}
