@yellow: #f0e800;
.margenes(@top:0px,@bottom:0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  .margenes(50px,0px);
}

footer {
  background-color: @yellow;
  padding: 15px 15px 15px 15px;
  .margenes(25px, 0px);
}

.card-hotel {
  flex: 1 250px;
  .margenes(10px, 0px);
}

.hoteles {
  .margenes(25px, 0px);
}

.rowespeciales {
  .margenes(20px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon,
.reservar-icon {
  padding-right: 8px;
}

.tab-content {
  padding-top: 10px;
}
