$yellow: #f0e800;
$red: #ff3636;
$green: #1cff3e;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $yellow;
  @include margenes(50px, 0px);
}

footer {
  background-color: $yellow;
  padding: 15px 15px 15px 15px;
  @include margenes(25px, 0px);
}

.card-hotel {
  flex: 1 250px;
  @include margenes(10px, 0px);
}

.hoteles {
  @include margenes(25px, 0px);
}

.rowespeciales {
  @include margenes(20px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon,
.reservar-icon {
  padding-right: 8px;
}

.tab-content {
  padding-top: 10px;
}
